<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roomify">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roomify"
        tools:targetApi="31">
        <activity
            android:name=".ManageBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageRoomsActivity"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true" /> <!-- Log In Activity -->
        <activity
            android:name=".LogInActivity"
            android:exported="true" /> <!-- User Dashboard Activity -->
        <activity
            android:name=".UserDashboardActivity"
            android:exported="true" /> <!-- Admin Dashboard Activity -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="true" />

    </application>

</manifest>